@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

.display-body {
  font-size: 16px;
  line-height: normal;
  color: #040c13;
  /* font-family: Human BBY Web, Arial, Helvetica, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 15px ;
  padding-right: 15px;
}

.display-container {
  margin-left: 5%;
}

.display-nav-row {
  margin-bottom: 0;
}

.display-nav {
  background-color: transparent;
  color: #0457c8;
  font-size: 15px;
}

.display-list {
  list-style-type: none;
  grid-area: header;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  padding-bottom: 15px;
  
}

li.display-category:nth-child(1n+2):before {
    content: " ";
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #55555a;
    display: inline-block;
    margin: 0 7px;
}
li {
  cursor: pointer;
  font-size: 13px;
}

.display-container-row {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 53% 47%;
  margin-top: -10px;
}

.display-container-col-1 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
 
}

.display-stars {
    /* align-items: flex-start; */
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    text-align: center;
    
}

.display-ratings-reviews {
  display: flex;
  align-items: center;
  vertical-align: middle;
  position: relative;
}

x-star-rating {
  font-family: 'Ionicons';
  font-size: 22px;
  display: inline-flex;
  position: relative;
}

x-star-rating > .star.full::after {
  content: '\f2fc';
  color: #fd0;
}

.display-c-reviews {
  display: block;
  z-index: 1;
}

.display-c-reviews:hover {
  color: #000d33;
  text-decoration: underline;
  display: inline-block;
}

.display-star-rate {
  margin-left: 7px;
  color: #0457c8;
  font-weight: 700;
  font-size: 13px;
}

.display-star-rate:hover {
  color: #001a66;
  text-decoration: underline;
}

.display-star-review {
  margin-left: 5px;
  color: #0457c8;
  font-size: 13px;
  position: relative;
}

.display-star-review:hover {
  color: #001a66;
  text-decoration: underline;
}

.display-answered-questions {
  display: flex;
  align-items: center;
  vertical-align: middle;
  position: relative;
}

.up-icon {
  font-size: 16px;
  color: #0457c8;
  margin-left: 10px;
  padding-right: 25px;
  z-index: 2;
}

.down-icon {
  font-size: 16px;
  color: #0457c8;
  margin-left: 10px;
  padding-right: 25px;
}

.display-questions {
  font-weight: 400;
  font-size: 13px;
  color: #0457c8;
  border-left: solid;
  padding-left: 12px;
  border-width: thin;
  border-color: rgb(184, 184, 184);
}

.display-questions:hover {
  color: #001a66;
  text-decoration: underline;
}

.display-divider {
  height: 40px;
}

.display-media-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-product-primary-container {
  margin-bottom: 10px;
  box-sizing: border-box;
}

.display-media-wrapper {
  height: 640px;
  margin: auto 0 10px;
}

.display-media-img-wrapper {
  height: 100%;
  width: 100%;
  top: 0;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.display-main-img-product-view {
  max-width: 550px;
  position: relative;
  cursor: pointer;
  border: 0;
  padding: 0;
  width: 100%;
  height: inherit;
  background: none;
  overflow: visible;
  margin: 0;
}

.display-primary-image { 
  position: relative;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  max-width: 560px;
  max-height: 640px;
  transform: scale(1) translate(0px, 0px);
}

.display-thumbnail-list {
  display:flex;
  padding: 0;
  justify-content: center;
  margin-top: 0;
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 30px;
}

.display-image-thumbnail {
  margin-right: 8px;
  list-style: none;
  box-sizing: border-box;
  display: list-item;
}

.display-thumbnail-container {
  width: 60px;
  height: 60px;
  border-radius: 0;
  border: 1px solid #c5cbd5;
  /* border-width: thin; */
  background: transparent;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  color: #040c13;
  background-color: #fff;
}

.display-thumbnail-container:hover {
  border: 2px solid #1d252c;
  -webkit-box-shadow: 0px 0px 4px #3399ff;
}

.display-thumbnail-container-lastOne {
  width: 60px;
  height: 60px;
  border-radius: 0;
  border: 1px solid #c5cbd5;
  background: transparent;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}


.display-image-button {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: row;
  position: absolute;
  background-size: cover;
  overflow: visible;
  padding: 0;
  background: transparent;
  border: none;
}

.display-individual-images {
  max-width: 54px;
  max-height: 54px;
  vertical-align: middle;
  /* align-items: center;
  position: absolute; */
  border: 0;
  cursor: pointer;
}

.display-text-wrapper {
  padding-top: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 2;
  cursor: pointer;
}

.display-more-text-wrapping {
  display: inline-block;
  font-size: 17px;
}

.display-more-text-body {
  font-size: 13px;
  line-height: normal;
}

.display-image-overlay {
  height: 100%;
  width: 100%;
  background-color: #55555a;
  opacity: .8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.display-media-links-container {
  display: flex;
  justify-content: center;
}

.display-media-links-interactive-tour {
  font-size: 13px;
  color: #0457c8;
  cursor: pointer;
}

.display-media-links-interactive-tour:hover {
  color: #001a66;
  text-decoration: underline;
}


.display-product-title {
  display: block;
  margin-top: -10px;
  padding-bottom: 10px;
}

.display-sku-title {
}

.display-sku-h2 {
 /* margin-bottom: 10px; */
 font-weight: 400;
 font-size: 20px;
 margin: 0;
 padding: 0;

}

.display-data-layout {
    width: 100%;
}

.display-model-product-data {
    padding-right: 2px;
    padding-top: 5px;
    display: inline-block;
    box-sizing: border-box;
}

strong {
  font-weight: 700;
}

.display-product-data {
  margin-right: 2px;
  font-size: 13px;
}

/* .display-product-data-lastline {
  margin-right: 5px;
  margin-top: 8px;
} */

.display-product-data-everyone {
  color: #0457c8;   
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: 50%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-modal-block {
  display: block;
}

.display-modal-none {
  display: none;
}



.display-container-col-2 {
  
}