@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

.display-body {
  font-size: 16px;
  line-height: normal;
  color: #040c13;
  /* font-family: Human BBY Web, Arial, Helvetica, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 15px ;
  padding-right: 15px;
  
}

.display-container {
  margin-left: 5%;

}

.display-nav-row {
  margin-bottom: 0;
}

.display-nav {
  background-color: transparent;
  color: #0457c8;
  font-size: 15px;
}

.display-list {
  list-style-type: none;
  grid-area: header;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  
}

li.display-category:nth-child(1n+2):before {
    content: " ";
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #55555a;
    display: inline-block;
    margin: 0 7px;
}
li {
  cursor: pointer;
}

.display-container-row {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 53% 47%;
  margin-top: -10px;
}

.display-container-col-1 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
 
}

.display-stars {
    display: flex;
    align-items: center;
    
}

x-star-rating {
  font-family: 'Ionicons';
  font-size: 28px;
  display: inline-flex;
}

x-star-rating > .star::after {
  content: '\f3ae';
  color: #777;
}

x-star-rating > .star.full::after {
  content: '\f2fc';
  color: #fd0;
}

.display-star-rate {
  margin-left: 7px;
  color: #0457c8;
  font-size: 16px;
}

.display-star-review {
  margin-left: 5px;
  color: #0457c8;
  font-weight: 400;
}

.up-icon {
  font-size: 22px;
  color: #0457c8;
  margin-left: 10px;
  padding-right: 25px;
}

.down-icon {
  font-size: 22px;
  color: #0457c8;
  margin-left: 10px;
  padding-right: 25px;
}

.display-questions {
  font-weight: 400;
  color: #0457c8;
  border-left: solid;
  padding-left: 12px;
  border-width: thin;
  border-color: rgb(184, 184, 184);
}

.display-divider {
  height: 15px;
}

.display-media-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-product-primary-container {
  margin-bottom: 10px;
}

.display-media-wrapper {
  height: 640px;
  margin: auto 0 10px;
}

.display-media-img-wrapper {
  height: 100%;
  width: 100%;
  top: 0;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.display-main-img-product-view {
  max-width: 550px;
  position: relative;
  cursor: pointer;
  border: 0;
  padding: 0;
  width: 100%;
  height: inherit;
  background: none;
  overflow: visible;
  margin: 0;
}

.display-primary-image { 
  position: relative;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  max-width: 560px;
  max-height: 640px;
  transform: scale(1) translate(0px, 0px);
}

.display-thumbnail-list {
  display:flex;
  padding: 0;
  justify-content: center;
  margin-top: 0;
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.display-image-thumbnail {
  margin-right: 8px;
  list-style: none;
}

.display-thumbnail-container {
  width: 60px;
  height: 60px;
  border-radius: 0;
  /* border: 1px solid #c5cbd5; */
  background: transparent;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: row;
}

.display-image-button {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: row;
  position: relative;
  background-size: cover;
  overflow: visible;

}

.display-individual-images {
  max-width: 54px;
  max-height: 54px;
  vertical-align: middle;
  align-items: center;
}

.display-container-col-2 {
  
}

.display-product-title {
  display: block;
  margin-top: -10px;
}

.display-sku-title {
  font-size: 15px;
}

.display-sku-h2 {
 margin-bottom: 10px;
 font-weight: 400;
}

.display-data-layout {
  font-size: 15.5px;
}

strong {
  font-weight: 700;
}

.display-product-data {
  margin-right: 5px;
}

.display-product-data-lastline {
  margin-right: 5px;
  margin-top: 8px;
}

.display-product-data-everyone {
  color: #0457c8;   
}